.details-comp {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  z-index: 12;

  background-color: rgba(var(--main-color-rgb), 0.6);
  font-size: 1rem;
}
