.prompt-comp {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  z-index: 13;

  background-color: rgba(var(--main-color-rgb), 0.6);
  font-size: 1rem;
}
