@use '@/method';

.home-page {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  position: relative;

  font-size: 1rem;

  .custom-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    img {
      object-fit: cover;
    }
  }

  .home-page-intro {
    display: flex;
    flex-direction: column;

    height: 80%;
    width: 80%;
    margin-bottom: 21px;
    padding: 1.2em;

    background-color: rgba(var(--main-color-rgb), 0.8);
    backdrop-filter: blur(var(--blur));
    border-radius: 0.625em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .home-page-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
      flex: 1;

      svg {
        width: 5em;
      }

      h2 {
        font-weight: 500;
        font-size: 1.7em;
      }
    }

    .custom-button {
      @include method.button;

      font-size: 0.75em;

      width: 100%;
    }
  }
}
