@use '@/method';

.nav-comp {
  --shadow-height: 22px;

  width: 100vw;

  position: relative;
  z-index: 10;

  font-size: 1rem;
  background-color: var(--main-color);

  &::before {
    position: absolute;
    top: calc(var(--shadow-height) * -1);
    left: 0;

    height: var(--shadow-height);
    width: 100%;

    content: '';
    background: linear-gradient(180deg, transparent 0%, var(--main-color) 70%);
  }

  .scroller {
    display: flex;
    align-items: center;
    gap: 1em;

    padding: calc(1em - var(--shadow-height)) 1em
      calc((1em - var(--shadow-height)) + 1em);
    width: 100%;
    height: 100%;

    overflow-x: auto;

    svg {
      width: 10em;
    }

    .nav-comp-custom-button {
      --accent: var(--third-color);

      @include method.button(var(--accent));

      flex-shrink: 0;

      font-size: 0.7em;

      &.red {
        --accent: var(--red);
      }
    }
  }

  &.not-logged {
    .scroller {
      .nav-comp-custom-button {
        margin: 0 auto;
      }
    }
  }
}
