.nav-comp {
  --shadow-height: 20px;

  display: flex;
  align-items: center;
  gap: 1em;

  width: 100vw;
  padding: calc(1em - var(--shadow-height)) 0
    calc((1em - var(--shadow-height)) + 1em);
  position: relative;

  font-size: 0.9rem;
  background-color: var(--main-color);

  svg {
    width: 10em;
  }

  &::before {
    position: absolute;
    top: calc(var(--shadow-height) * -1);
    left: 0;

    height: var(--shadow-height);
    width: 100%;

    content: '';
    background: linear-gradient(180deg, transparent 0%, var(--main-color) 70%);
  }

  &.not-logged {
    flex-direction: column;

    height: fit-content;
  }
}
