.details-comp-extend-frag {
  height: 90%;
  width: 90%;

  border-radius: 0.625em;
  background-color: var(--main-color);
  overflow-y: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .custom-image {
    height: 50%;
  }
}
