@use '@/method';

.entry-comp-switcher-frag {
  display: flex;
  align-items: baseline;

  padding: 2em 0 1em;

  font-size: 1rem;

  .custom-navlink {
    @include method.link;

    font-size: 1.5em;

    &.active {
      text-decoration: underline;
    }
  }

  p {
    margin: 0 0.3em;
  }
}
